#searchBar {
    width: 88%;
    margin: auto;
    padding: 2vh 1vw;
    border: grey .3rem solid;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

#searchBar h2 {
    padding: 1vh 0;
}

#searchBar p {
    padding: 1vh 0;
}

#searchSubmit {
    width: fit-content;
    float: right;
    margin-left: auto;
    order: 2;
    margin-top: 1vh;
    padding: 1vh 1vw;
}