#header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3vh 0;
}

#headerArea {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: grey .3rem solid;
    font-size: 120%;
    padding: 2vh 0;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    border-style: groove;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px 2px var(--transparent-black);
    -webkit-box-shadow: 0 0 10px 2px var(--transparent-black);
    box-shadow: 0 0 10px 2px var(--transparent-black);
}

#header h1{
    padding: 1vh 0;
    font-family: "Noto Sans Display";
}

#google-text {
    font-family: "Red Hat Display";
}

#google-blue {
    color: var(--blue);
}

#google-red {
    color: var(--red);
}

#google-yellow {
    color: var(--yellow);
}

#google-green {
    color: var(--green);
}

#header h2{
    padding: 1vh 0;
    font-family: "Noto Sans Display";
    font-size: 1.5rem;
}