#searchResults {
    width: 88%;
    height: inherit;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    border: var(--secondary-color) .3rem groove;
    border-radius: 10px;
    margin-top: 3vh;
    background-color: var(--primary-color);
    -moz-box-shadow: 0 0 10px 2px var(--transparent-black);
    -webkit-box-shadow: 0 0 10px 2px var(--transparent-black);
    box-shadow: 0 0 10px 2px var(--transparent-black);
}

#searchResults h2 {
    width: 100%;
    padding: 2vh 0;
    font-family: "Noto Sans Display";
    font-size: 1.5rem;
}

#searchResults-books {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 5vh;
    margin-bottom: 5vh;
    height: inherit;
}

#searchResults-loading {
    width: 100%;
    padding:2vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

@media screen and (min-width: 2000px) {
    #searchResults-books {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    #searchResults {
        width: 73%;
    }
}

@media screen and (min-width: 1100px) {
    #searchResults-books {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    #searchResults {
        width: 78%;
    }
}

@media screen and (max-width: 950px) {
    #searchResults-books {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media screen and (max-width: 750px) {
    #searchResults-books {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 500px) {
    #searchResults-books {
        grid-template-columns: auto auto;
    }

    #searchResults h2 {
        font-size: 1rem;
    }
}